#carousel-example-generic.carousel.slide(data-ride='carousel')
  // Indicators
  ol.carousel-indicators
    li.active(data-target='#carousel-example-generic', data-slide-to='0')
    li(data-target='#carousel-example-generic', data-slide-to='1')
    li(data-target='#carousel-example-generic', data-slide-to='2')
  // Wrapper for slides
  .carousel-inner(role='listbox')
    .item.active
      img(src='http://www.vladtime.ru/uploads/posts/2015-12/1450883389_1.jpg', alt='...')
      .carousel-caption
        h3 A large variety of options
        p For a very good price!
    .item
      img(src='...', alt='...')
      .carousel-caption
        | ...
    |     ...
  // Controls
  a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next