extends layout

block content 
 .form-wrapper
   form
    .form-group
      .col-lg-12
        input#inputEmail.form-control(type='text', placeholder='Email')
        
    .form-group
      .col-lg-12
        input#inputEmail.form-control(type='text', placeholder='Ваше имя')
    .form-group
      .col-lg-12
        textarea#textArea.form-control(rows='3',placeholder='Ваш отзыв...',
        style='resize:none'
        )


    .form-group
      .col-lg-12.col-lg-offset-2(align='center',style='margin-top:5px')
        button.btn.btn-primary(type='submit') Отправить отзыв
