extends layout

block content 
  .container
    .row
      .col-lg-6
        h3 Наши контакты:
        p
          adress Республика Беларусь, г.Витебск, проспект Строителей д.17 оф.42
        p
          phone +375251567849 - Отдел продаж
        p
          phone +375251567842 - Техническая поддержка
        p Мы работаем с понедельника по пятницу с 9:00 до 19:00

      .col-lg-6
       .form-wrapper
         form(align='center')
          h3 Оставьте свой отзыв!
          .form-group
            label(for='exampleInputEmail1') E-mail
            input#exampleInputEmail1.form-control(type='email', placeholder='Email')
          .form-group
            label(for='exampleInputPassword1') Ваше имя
            input#exampleInputPassword1.form-control(type='text', placeholder='Ваше имя')
          
          button.btn.btn-default(type='submit') Отправить
          

