
extends layout

block content
 .container
  // Page Heading
  .row
    .col-lg-9
      h1.page-header
        | Каталог продукции
        small &nbsp Актуально на 25.06.2016
    .col-lg-3(style='margin-top:35px;')
      a.btn.btn-info(href='#',style='width:100%;background:#1cb45b;border-color:#1cb45b') Весь каталог
    
  // /.row
  // Project One
  .row
    .col-md-3
      a(href='#')
        img.img-responsive(src='http://placehold.it/700x300', alt='')
    .col-md-9
      h3 Project One
      h4 Subheading
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
      a.btn.btn-primary(href='#')
        | View Project 
        span.glyphicon.glyphicon-chevron-right
  // /.row
  hr
  .row
    .col-md-3
      a(href='#')
        img.img-responsive(src='http://placehold.it/700x300', alt='')
    .col-md-9
      h3 Project One
      h4 Subheading
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
      a.btn.btn-primary(href='#')
        | View Project 
        span.glyphicon.glyphicon-chevron-right

  hr
  .row
    .col-md-3
      a(href='#')
        img.img-responsive(src='http://placehold.it/700x300', alt='')
    .col-md-9
      h3 Project One
      h4 Subheading
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
      a.btn.btn-primary(href='#')
        | View Project 
        span.glyphicon.glyphicon-chevron-right

 