.container
  hr
  .row
    .col-sm-8
      h2 Добро пожаловать на сайт компании Danir!
      p
        | Мы являемся ведущими поставщиками строительной электроники на территории Республики Беларусь
      p
        | Вы в поиске высококачественных комплектующих и надёжного подрядчика для будущих проектов?
      p
          strong Мы уверены, что способны предложить именно то, что Вы ищете!
        
      //- p
      //-   a.btn.btn-default.btn-lg(href='/marketing') Просмотреть каталог
    .col-sm-4
      h2 Свяжитесь с нами:
      address(style='margin-bottom:5px')
        strong ЧТУП "Данир"
        
      address
        abbr(title='Phone') Контактный телефон:
        br
        | +375296377457 
        br
        | +375291977865
        br
        abbr(title='Email') E-mail:
        a(href='mailto:sales@danir.by') &nbsp danir.tp@mail.ru
  // /.row
  hr
  .row.main-page-cart
    .col-sm-4.img-present
      a(href='/marketing')
        img.img-responsive.img-center(src='/images/1.jpg', alt='')
      h2 Программно-технический комплекс
      p
        | 
    .col-sm-4.img-present
      a(href='/marketing')
        img.img-responsive.img-center(height=300,src='/images/4.jpg', alt='')
      h2 Регуляторы
      p
        | 
    .col-sm-4.img-present
      a(href='/marketing')
        img.img-responsive.img-center(src='/images/3.jpg', alt='')
      h2 Периферия
      p
        | 
