.container
  hr
  .row
    .col-sm-8
      h2 Добро пожаловать на сайт компании Danir!
      p
        | Мы являемся ведущими поставщиками строительной электроники на территории Республики Беларусь
      p
        | Вы в поиске высококачественных комплектующих и надёжного подрядчика для будущих проектов?
      p
          strong Мы уверены, что способны предложить именно то, что Вы ищете!
        
      p
        a.btn.btn-default.btn-lg(href='/marketing') Просмотреть каталог
    .col-sm-4
      h2 Свяжитесь с нами:
      address
        strong ООО "Данир"
        br
        | проспект Строителей, д.17 оф. 42
        br
        | Республика Беларусь, город Витебск
        br
      address
        abbr(title='Phone') Контактный телефон:
        | +375251557849
        br
        abbr(title='Email') E-mail:
        a(href='mailto:sales@danir.by') &nbsp sales@danir.by
  // /.row
  hr
  .row.main-page-cart
    .col-sm-4
      img.img-circle.img-responsive.img-center(height=300,src='http://www.startool.ru/upload/iblock/e7f/e7f4521ee2e3ac168e4565ebab428355.jpeg', alt='')
      h2 Шуруповёрты и перфораторы
      p
        | Прямые поставки от производителя и фирменная гарантия. Полный комплект и документация, 3 года бесплатного сервиса на технику Bosch и Eco
    .col-sm-4
      img.img-circle.img-responsive.img-center(height=300,src='http://www.nado-brat.com.ua/image/cache/data/products/einhell/bolgarka/TC-AG_125-600x600.jpg', alt='')
      h2 Циркулярные пилы
      p
        | Мы являемся официальным дилером Einhell в Республике Беларусь. Каждому покупателю набор дисков и чехол в подарок.
    .col-sm-4
      img.img-circle.img-responsive.img-center(src='http://d-instrument.ru/images/catalogue/items/8af3dd9618ada616b06707bcd84a6bf2_big_1271277356.jpg', alt='')
      h2 Цепные бензопилы
      p
        | Широкий ассортимент бензопил и комплектущих к ним.
